<h1>{{ poll.question }}</h1>

<ul>
{% for choice in poll.choice_set.all %}
  <li>{{ choice.choice }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }} </li>
{% endfor %}
</ul>

<a href="/polls/{{ poll.id }}/">Vote again?</a>
